body {
  background-color: #f8f9fa;

  background-image: url("./assets/background-img.jpg");

  background-size: cover;
  background-position: center;

  min-height: 100vh;
  margin: 0;
  padding: 0;

  overflow: hidden;
}
