.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 20px;
  background-color: green;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header img.logo {
  height: 60px;
  width: 70px;
}

.header h1 {
  margin: 0;
  color: white;
  font-style: italic;
}

.nav {
  display: flex;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav li {
  margin-left: 20px;
  font-size: large;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 1.5rem;
  }

  .nav li {
    margin-left: 15px;
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 1.2rem;
  }

  .nav li {
    margin-left: 10px;
  }
}
